.NavBarItems {
background: linear-gradient(90deg,rgb(110,94,254)0%,rgba(73,63,252,1)100%);
height: 20%;
display: flex;
justify-content: space-between;
align-items: center;
grid-column-start:end
}

.NavBarCarrito{
    width: 4%;
}
.NavBarLogo{
    color: white;
    justify-self: start;
    margin-left: 3%;
    cursor: pointer;
}

.NavBarListado{
    list-style: none;
    display: grid;
grid-template-columns: repeat(5,auto);
grid-gap: 2%;
text-align: center;
justify-content: end!important;
grid-column-start:end!important;
}